@import '../../sass/variables';

.app-header-container {
  position: fixed;
  top:0;
  left:0;

  min-height: 3.5rem;
  max-height: 5rem;
  height: 5vh;
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  background-color: $complementary-background-color;
  box-shadow: 0px 0px 10px 1px $accent-color;
  z-index: 50;
}
