@import '../../sass/variables';

.header-container {
  position: fixed;
  top:0;
  left:0;

  min-height: 3.5rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: $secondary-color;
  box-shadow: 0px 0px 5px 0px gray;
  z-index: 100;
}

.app-logo {
  border:none;
  background-color: $secondary-color;
  width: 40%;
  max-width: 20rem;
}
