<div class="full-width-flex-container">
  <div class="capsule-container">

    <div class="color-container">

      <img src="../../assets/capsule-first.png" alt="">

      <div class="color">
        <p>TWÓJ TYP KOLORYSTYCZNY TO:</p>
        <h4>{{ color | uppercase }}</h4>
      </div>

    </div>

    <div class="style-container">

      <div class="style">
        <p>TWÓJ STYL TO:</p>
        <h4>{{ style | uppercase}}</h4>
      </div>

      <img src="../../assets/capsule.png" alt="">
    </div>

    <div class="fixed-bottom-container">
      <button class="app-btn">
        <a download [href]="'../../assets/' + color + '_' + style + '.pdf'" (click)="downloadButtonClick()">Pobierz swój planner</a>
      </button>
    </div>

  </div>
</div>
