$dominant-background-color: #FDE9FF;
$complementary-background-color: #A98EC2;
$modal-background-color: #a98ec284;
$accent-color: #745C8C;
$accent-contrast-color: #AAE2D7;
$hamburger-color:#4d3c5d;

$dominant-color: white;
$secondary-color:#f6ede8;
