@import './variables';

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100%;
}

p {
  line-height: 1.35rem;
  color:gray;
}

.full-width-flex-container {
  width:100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
