@import '../../sass/variables';

.summary-container {
  padding: $container-default-padding;
}

.ans-container {
  margin-top: 2rem;
}

.btn {
  margin-top: 2.5rem;
  background-color: $secondary-color;
  color:gray;
  font-weight: 600;
  box-shadow: 0px 0px 5px 0px $secondary-dark-color;

  transition: scale 500ms ease-out 0ms;
}

@media (pointer: fine) or (pointer: none) {
  .btn:hover {
    outline: 2px solid $secondary-dark-color;
    scale: 103%;
  }
}

.btn.btn-ans {
  margin-top: 0.5rem;
  font-weight: normal;
  text-align: left;
  height: fit-content;
}

