<div class="full-width-flex-container">
  <div class="summary-container">

    <div class="app-summary-text">
      <h3>Oto Twoje odpowiedzi </h3>
      <p>Kliknij w jedną ze swoich odpowiedzi aby ją zmienić</p>
    </div>

    <div class="ans-container">
      <button class="btn btn-ans" *ngFor="let answer of usersAnswers; let i = index" [routerLink]="['/test', i.toString() ,'edit']">
        <div>
          <p>{{i+1}}. {{ questionService.getQuestion(i).question }}</p>
          <p>{{ answer }}</p>
        </div>
      </button>
    </div>

    <button
      class="btn"
      [routerLink]="['/', 'feedback']"
      (click)="onEndTestClick()">
      Zatwierdź Odpowiedzi
    </button>

  </div>
</div>
