<div class="full-width-flex-container">
  <div class="test-start-container">

    <div *ngIf="!testStarted">
      <p>
        Przed Tobą Seria pytań które, pozwolą nam stworzyć planer dostosowany specjalnie dla Ciebie!
      </p>
      <p>
        Na koniec Testu znajdzie się podsumowanie na którym będziesz mieć możliwość sprawdzenia swoich odpowiedzi oraz ich zmiany
      </p>
      <p>
        Gotowa?
      </p>
    </div>

    <div *ngIf="testStarted">
      <p>
        Wygląda na to że przerwałeś ostatnią próbę rozwiązywania testu, możesz kontynuować ostatnią próbę lub rozpocząć test od nowa
      </p>
    </div>

    <div class="btns-container">

      <button
        [routerLink]="['/test', '0']"
        *ngIf="!testStarted"
        class="app-btn">
        {{'Pierwsze Pytanie' | titlecase}}
      </button>

      <button
        [routerLink]="['/test', '0']"
        *ngIf="testStarted"
        class="app-btn"
        (click)="onResetTest()">
        {{'Rozpocznij Test Od Nowa' | titlecase}}
      </button>

      <button
        (click)="onContinueButtonClick()"
        *ngIf="testStarted"
        class="app-btn">
        {{'Kontynuuj ostatnie podejście'  | titlecase}}
      </button>

    </div>
  </div>
</div>
