<div class="full-width-flex-container">
  <div class="question-container">

      <div class="app-progress-bar">
        <p>
          Pytanie {{ (question?.id !== undefined) ? question!.id + 1 : '?'}} z {{ questionsNumber }}
        </p>
        <h3>
          {{ question?.question }}
        </h3>
      </div>

      <div class="app-answers-flex-container">
        <div class="app-answers-container">

          <div *ngFor="let answer of question?.answers; trackBy: trackAnswer; let i = index">
            <app-answer [ansIndex]="i" [editMode]="editMode" [questionId]="question!.id" [nextQuestionId]="question!.nextQuestionId" [text]="answer"></app-answer>
          </div>

        </div>
      </div>

      <button
        class="btn btn-back-summary"
        [routerLink]="['/test/summary']"
        *ngIf="editMode">
        Powrót do Podsumowania
      </button>

      <button
        class="btn btn-prev-quest"
        *ngIf="!editMode && question?.previousQuestionId !== -1"
        [routerLink]="['/test', question?.previousQuestionId]">
        Poprzednie pytanie
      </button>

  </div>
</div>

