@import '../../sass/variables';


.question-container {
  max-width: $container-default-max-width;
}



.app-answers-flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-answers-container {
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0.5rem;
  column-gap: 0.5rem;
  justify-items: center;
}

.app-progress-bar {
  margin-bottom: 1.5rem;
}

.btn {
  margin-top:2rem;
  background-color: $secondary-color;
  color:gray;
  font-weight: 600;
  box-shadow: 0px 0px 5px 0px $secondary-dark-color;

  transition: scale 500ms ease-out 0ms;
}

@media (pointer: fine) or (pointer: none) {
  .btn:hover {
    outline: 2px solid $secondary-dark-color;
    scale: 105%;
  }
}
