@import '../../sass/variables';

.test-container {
  margin-top: 5rem;
  width: 100%;
  max-width: $container-default-max-width;

  padding: $container-default-padding;
}

.app-spinner {
  display: flex;
  justify-content: center;
}
