<div class="full-width-flex-container">
  <div class="home-container">

    <h3 >Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, vel.</h3>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur labore numquam facilis maiores vel voluptatem porro aliquam laborum fuga libero at, vero nam rerum temporibus? Obcaecati, dolorem. Minima at sunt exercitationem explicabo totam omnis odio aspernatur voluptatibus, unde dignissimos ducimus qui laboriosam? Ad, cumque architecto? Vitae nemo autem ex in?</p>

    <button
      class="btn"
      [routerLink]="'/test'">
      Przejdź do Testu
    </button>

  </div>
</div>


