@import '../../sass/variables';

.home-container {
  margin-top: $container-default-top-margin;
  max-width: $container-default-max-width;
  padding: $container-default-padding;
}

h1 {
  font-family: "Bebas Neue";
}

p {
  font-family: "Poppins";
  font-size: 1.7rem;
  line-height: 1.65rem;
}

@media screen and (min-width: 420px) {
  .btn:hover {
    outline: 2px solid gray;
  }
}

