@import '../../sass/variables';

.home-container {
  margin-top: 5rem;
  max-width: 70rem;
  padding: 1rem;
}

.btn {
  margin-top:2rem;
  background-color: $secondary-color;
  color:gray;
  font-weight: 600;
  box-shadow: 0px 0px 5px 0px $secondary-dark-color;

  transition: scale 500ms ease-out 0ms;
}

@media (pointer: fine) or (pointer: none) {
  .btn:hover {
    outline: 2px solid $secondary-dark-color;
    scale: 105%;
  }
}
