<div class="full-width-flex-container">
  <div class="home-container">

    <h1>Cześć !</h1>
    <p>
      Jestem bardzo podekscytowana, że mogę podzielić się z Wami moim planerem szafy kapsułowej na lato!
    </p>
    <p>
      To narzędzie zostało przygotowane specjalnie dla Was,
      aby pomóc Wam odkryć swój typ kolorystyczny oraz określić swój własny styl. Na podstawie tych informacji, otrzymacie spersonalizowany planer,
      który pomoże Wam stworzyć garderobę idealną na letnie miesiące.
    </p>
    <p>
      W planerze znajdziecie bazę produktów,
      które pasują do Waszego stylu i pozwolą Wam stworzyć różnorodne outfity, jednocześnie ograniczając ilość ubrań w szafie.
    </p>
    <p>
      Jestem przekonana, że dzięki temu narzędziu odnajdziecie swój indywidualny styl i z łatwością stworzycie garderobę, która będzie idealnie do Was pasować.
      Zapraszam do wypróbowania mojego planera szafy kapsułowej!
    </p>

    <div class="fixed-bottom-container">
        <button
        class="app-btn"
        [routerLink]="'/test'">
        Przejdź do Testu
      </button>
    </div>

  </div>
</div>


