@import '../../sass/variables';

img {
  max-width: 18rem;
}

.home-container {
  margin-top: $container-default-top-margin;
  max-width: $container-default-max-width;
  padding: $container-default-padding;

  margin-bottom: 5.5rem;
}

.header-container {
  padding: 0 0.5rem;
  margin-top:0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

h1 {
  font-size: 6rem;
  padding: 0 0.5rem;
  margin: 0;
  font-family: "Bebas Neue";
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  font-family: "Poppins";
  font-size: 1.7rem;
  line-height: 1.65rem;
}

@media screen and (min-width: 420px) {
  .btn:hover {
    outline: 2px solid gray;
  }
}

